<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
</head>
<body>
<form action="/front/doFindPwd" accept-charset="utf-8" method="post">
    <div>
        <span>用户名<input type="text" name="username"></span><br><br>
        <span>1+1=<input type="text" name="number"></span><br><br>
        <span>输入你想修改的密码=<input type="text" name="pwd1"></span><br><br>
        <span>确认密码<input type="text" name="pwd2"></span>
    </div>
    <div>
        <button type="submit" value="确认修改">确认修改</button>
    </div>
</form>
</body>
</html>