<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
<!--    <script>-->
<!--        $.ajax({-->
<!--            url: 'http://localhost:8080/front/findInfor',-->
<!--            type: "POST",-->
<!--            success: function (data) {-->
<!--                $("#nickname").text(data.nickname);-->
<!--                $("#sex").text(data.sex);-->
<!--                $("#autorgragh").text("签名 ："+data.autorgragh);-->
<!--                $("#permail").text("邮箱"+data.permail);-->
<!--            },-->
<!--            error: function (data) {-->
<!--                $("#content").text("加载失败!!");-->
<!--            }-->
<!--        })-->
<!--    </script>-->
</head>
<body>
<form action="/front/findInfor" accept-charset="utf-8" method="post">
<!--    <div>-->
<!--        <h1 id="nickname"></h1>-->
<!--        <p id="sex" align="center"></p>-->
<!--        <p id="autorgragh"></p>-->
<!--        <p id="permail"></p>-->
<!--    </div>-->
<!--    <div>-->
<!--        <button type="submit" value="提交">返回主页</button>-->
<!--    </div>-->
</form>
</body>
</html>