<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<form action="/front/doLogin" accept-charset="utf-8" method="post">
    <div>
        <label>用户名</label><input type="text" class="text" id="username" placeholder="用户名" name="username" required tabindex="1">
    </div>
    <div>
        <label>密码</label><input type="password" class="text" id="password" placeholder="密码" required name="password" tabindex="2"><br>
    </div>
    <br>
    <div>
        <span>没有账号？去<a href="/front/register">注册</a></span><br>
        <button type="submit" value="登录" id="login">登录</button><br>
        <span>忘记密码？<a href="/front/findPwd">找回密码</a></span>
    </div>
</form>
</body>
</html>