<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
</head>
<body>
<form action="/front/doModInfor" accept-charset="utf-8" method="post">
    <div>
        <span>昵称：<input type="text" name="nickname"></span><br><br>
        <span>性别：<input type="text" name="sex"></span><br><br>
        <span>签名:<input type="text" name="autorgragh"></span><br><br>
        <span>个人邮箱<input type="text" name="permail"></span>
    </div>
    <div>
        <button type="submit" value="提交">提交</button>
    </div>
</form>
</body>
</html>